@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Merriweather&family=Roboto+Serif:opsz,wght@8');
/* font-family: 'Libre Baskerville', serif;
font-family: 'Roboto Serif', serif; */

* {
    /* font-family: 'Roboto Serif', serif; */
    /* font-family: 'Merriweather', serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    /* color: black; */
    list-style: none;

}

.nav {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.056);
}
.txt1{
    color: #000;
}

.fa-solid {
    font-size: 15px;
}

.title {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.781);

}

a {
    font-size: 15px;

}

.right-content {
    background-color: #B6BBC4;
}

.right-b-1 {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 20px;
    display: flex;
    justify-content: end;
}

.right-b-22 {
    background-color: #b6bbc428;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 20px;
}

.top-content {
    padding: 0;
}

.right-b-11 {
    display: flex;
    justify-content: end;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.fa-moon {
    font-size: 25px;
    color: gray;
}

.right-31 {
    background: #fff;
    /* border: 2px solid gray; */
    box-shadow: 2px 2px 10px black;
    margin-right: 20px !important;

}

.bottom-content {
    background-color: #b6bbc428;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: block !important;
}

#filter {
    width: 200px;
    text-align: start;
    padding: 10px 20px;
    outline: none;
    cursor: pointer;
}

.right-41 {
    border-bottom: 1px solid rgba(128, 128, 128, 0.304);
    padding-bottom: 15px;

}

.right-42 {
    padding-top: 20px;
    padding-bottom: 30px;
}

.Multiple {
    padding: 15px 20px;
    background: blue;
    border: none;
    color: #fff;
    border-radius: 5px;
}

.div1 {
    box-shadow: 2px 2px 10px rgb(137, 122, 122);
    margin: 20px 10px;
    padding: 20px 50px;
    /* width: 385px !important; */
    font-size: 12px;

}

.div1 p {
    /* color: rgba(0, 0, 0, 0.874); */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.data {
    border-bottom: 1px solid rgba(128, 128, 128, 0.304);
    padding-bottom: 10px;
}

.delete {
    color: red;
    font-size: 15px;
    font-weight: bold;

}

.status {
    color: green;
    font-weight: bold;
    margin: 0;

}

.click {
    color: blue;
    margin: 0;
    padding: 10px 0;
}

.malik {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    padding-right: 20px;
    font-weight: bold;

}

.options {
    padding: 5px 0;
    margin: 0;
}

.p {
    box-shadow: 1px 5px 10px rgb(134, 117, 117);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

.search {
    padding-right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.filter {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 10px;
}

.option {
    text-align: center;
}

.navbar {
  padding-left: 30px;
  /* margin: 0 0 0 30px; */
  background-color: #0000007e;
    
}


.highlight {
    box-shadow: 0 0 10px green;
    display: block !important;
}

.hidden {
    display: none;
}

.bottom-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    
    gap: 10px;
    /* Adjust the gap between divs as needed */

}

.div1 {
    flex: 0 0 calc(32% - 10px);
    /* Adjust the width as needed */
}

@media only screen and (max-width: 769px) {
    * {
        font-size: 90%;
    }



    .side {
        left: 0% !important;
    }

    .div1 {
        flex: 0 0 calc(100% - 10px) !important;
        /* margin: 0; */
        padding: auto;
        margin: 0 0 30px 10px;
    }

    .div-section {
        display: flex;
        flex-direction: column;

    }

    .bottom-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .right-423 {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    #filter {
        width: 80px;
        height: 20px;
        padding: 0;
        font-size: 8px;
    }

    .filter {
        font-size: 8px;
        padding-right: 5px;
    }

    .delete {
        font-size: 8px;

    }

    .search {
        padding-right: 5px;
    }

    #search {
        width: 70px;
    }

    .right-431 {
        justify-content: end;
        padding: 0 15px 0;
        font-size: 8px;
    }

    .right-42 {
        padding: 20px 0px 5px 0;
    }

    .Multiple {
        /* height: 20px; */
        justify-content: center;
        align-items: center;
        padding: 10px;
        font-size: 8px;
    }

    .stpl {
        padding: 15px 0 10px 0;
    }

    .top-content {
        display: flex;
    }

    .right-b-1 {
        justify-content: space-between;
        flex-direction: row-reverse;
        width: 100%;
        align-items: center;
    }

    .right-b-11 {
        flex: 0 0 calc(50% - 10px);
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .fa-moon {
        font-size: 18px;
        padding-right: 20px;
    }

    .fa-bars {
        font-size: 20px;
    }

    .right-b-22 {
        flex: 0 0 calc(50% - 10px);
        font-size: 12px;
    }

    .fa-circle-user {
        font-size: 13px;
        border: 1px solid #000;
        background: #000;
        color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin-right: 5px;
    }

    .stpl {
        padding: 20px 0;
        font-size: 15px;
    }

    .nav {
        /* display: block; */
        display: flex;
        position: relative;
background-color: #000;
    }

    .header {
        /* display: flex; */
        flex-direction: row;
      
    }

    .page {
        padding: 0;
    }
    .right-b-22{
        display: none;
    }
.txt1{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar{
    background-color: #000000b6;
}
}

@media (max-width: 1024px) {
    /* Styles for screens with a maximum width of 767px (phone view) */

    .header {
        position: relative;
        /* Remove fixed positioning */
        height: auto;
        /* Adjust height as needed */ 
        
    }

    
    .nav {
        position: absolute;
        top: 0;
        left: -100%;
        /* Move off-screen initially */
        width: 80%;
        /* Adjust width as needed */
        height: 100%;
        background-color: #f8f9fa;
        /* Adjust background color as needed */
        transition: left 0.3s ease;
        /* Add smooth transition */
    }

    .nav.active {
        left: 0;

        /* Bring on-screen when active class is applied */
    }


}





.navbar.fixed-left {
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}
.navbar.fixed-left{
    position: fixed;
}
.side{
    position: relative;
    left: 25%;
}
/* position: fixed; */

@media (min-width: 768px) {
    .navbar.fixed-left {
        bottom: 0;
        /* width: 232px; */
        flex-flow: column nowrap;
        align-items: flex-start;

    }

    .navbar.fixed-left .navbar-collapse {
        flex-grow: 0;
        flex-direction: column;
        width: 100%;
    }

    .navbar.fixed-left .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item {
        width: 100%;
    }


}
@media screen and (min-width: 425px) and (max-width:769px) {
    .div-section{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
.div1{
    width: 30% !important; 
}
.nos{
    display: flex;
}
.right-b-22{
    display:   block;
    justify-content: start;
    
}
.right-b-11{
    display: none;
}
}